<!-- <div class="button-container">
  <button (click)="changeTitle()" [style]="style">Change title (Output)</button>
</div> -->
<div class="character-container">
  <section>
    <h1>Directive IF and ELSE</h1>
    <div class="character">
      <button
        (click)="changeStatus(characters[0])"
        class="button text-white py-2 px-4 rounded-lg"
      >
        Change available
      </button>

      @if(characters[0].available) {
      <a
        [routerLink]="['/details', characters[0].id]"
        ><button class="button text-white py-2 px-4 rounded-lg">Show details</button>
      </a>
      <p>
        Character: <span>{{ characters[0].name }}</span>
      </p>
      <p>
        Available: <span>{{ characters[0].available }}</span>
      </p>
      <div class="character-image">
        <!-- <img ngSrc="{{ characters[0].avatar }}" alt="goku imagen" width="1000" height="1000" /> -->
        <img ngSrc="{{ characters[0].avatar }}" alt="goku imagen" fill />
      </div>

      } @else{
      <p>
        Available: <span>{{ characters[0].available }}</span>
      </p>
      <p>Character not available</p>
      }
    </div>
  </section>

  <section>
    <h1>Directive FOR</h1>
    <div class="container">
      <div class="container-for">
        @for (chara of characters; track $index) {
        <div class="character">
          <p>
            Id: <span>{{ chara.id }}</span>
          </p>
          <p>
            Name: <span>{{ chara.name }}</span>
          </p>
          <p>
            Available: <span>{{ chara.available }}</span>
          </p>
          <div class="character-image-small">
            <img
              class="images"
              ngSrc="{{ chara.avatar }}"
              alt="image character"
              fill
              (click)="changeStatus(chara)"
            />
          </div>
        </div>
        }
      </div>
    </div>
  </section>

  <section>
    <h1>Event handler click</h1>
    <div class="character" (click)="transform(index)">
      <p>
        Id: <span>{{ characters[index].id }}</span>
      </p>
      <p>
        Character: <span>{{ characters[index].name }}</span>
      </p>
      <p>
        Available: <span>{{ characters[index].available }}</span>
      </p>
      <div class="character-image">
        <img
          [className]="animationClass"
          [ngSrc]="characters[index].avatar"
          alt="goku imagen"
          fill
        />
      </div>
    </div>
  </section>
</div>
