<!-- <div class="button-container">
  <button (click)="changeTitle()" [style]="style">Change title (Output)</button>
</div> -->
<div class="character-container">
  <section>
    <h1>Directive IF and ELSE</h1>
    <div class="character">
      <button
        (click)="showNextCharacter(index)"
        class="button text-white py-2 px-4 rounded-lg"
      >
        Show next character
      </button>

      @if(characters.length > 0) { @if( characters[index].gender === 'Male' ) {
      <p>Character is a male</p>
      }@else{
      <p>Character is a female</p>
      }
      <a [routerLink]="['/details', characters[index].id]"
        ><button class="button text-white py-2 px-4 rounded-lg">
          Show details
        </button>
      </a>
      <p>
        Character: <span>{{ characters[index].name }}</span>
      </p>
      <p>
        Race: <span>{{ characters[index].race }}</span>
      </p>
      <div class="character-image">
        <!-- <img ngSrc="{{ characters[0].avatar }}" alt="goku imagen" width="1000" height="1000" /> -->
        <img ngSrc="{{ characters[index].image }}" alt="goku imagen" [className]="animationClass" fill />
      </div>

      } @else{
      <p>No characters available</p>
      }
    </div>
  </section>

  <section>
    <h1>Directive FOR</h1>
    <div class="container">
      <div class="container-for">
        @for (chara of characters; track $index) {
        <div class="character">
          <p>
            Id: <span>{{ chara.id }}</span>
          </p>
          <p>
            Name: <span>{{ chara.name }}</span>
          </p>
          <p>
            gender: <span>{{ chara.gender }}</span>
          </p>
          <div class="character-image-small">
            <img
              class="images"
              ngSrc="{{ chara.image }}"
              alt="image character"
              fill
              
            />
          </div>
        </div>
        }
      </div>
    </div>
  </section>

  <section>
    <h1>Event handler click</h1>
    <!-- <input type="search" placeholder="search" #filter> -->
    @if ( characters.length > 0 ) {
    <div class="character">
      <p>
        Id: <span>{{ characters[index].id }}</span>
      </p>
      <p>
        Character: <span>{{ characters[index].name }}</span>
      </p>
      <p>
        Gender: <span>{{ characters[index].gender }}</span>
      </p>
      <div class="character-image">
        <img
          [className]="animationClass"
          [ngSrc]="characters[index].image"
          alt="goku imagen"
          fill
        />
      </div>
    </div>
    }@else {
    <p>No characters available</p>
    }
  </section>
</div>
