body {
  display: flex;
  justify-content: center;
}

section {
  border: 1px solid white;
  padding: 1%;
  
}

.button-container {
  text-align: center;
}

.button {
  margin: 1% 1%;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.character-image {
  position: relative;
  width: 11rem;
  height: 25rem;
}

.character-image-small {
  position: relative;
  width: 5rem;
  height: 10rem;
}

img {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

/* Animaciones */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.character img.fade-in {
  animation-name: fadeIn;
}

.character img.fade-out {
  animation-name: fadeOut;
}
