@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    color-scheme: light dark;
    --primary: #D2691E;
    --hover: #e07b39;
}

h1{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

button{
    background-color: var(--primary) !important;
}

button:hover{
    background-color: var(--hover) !important;
}